@page
@model Reci_Go.Pages.Ingredient.UpdateModel
@{
}
<form method="post">
    <div class="form-group">
        <input type="hidden" name="id" class="form-control" value="@Model.Difficulty.Id" asp-for="@Model.Difficulty.Id">
        <label class="text-light bg-dark p-2 rounded">UserName</label>
        <input type="text" name="name" class="form-control" readonly value="@Model.Ingredient.Name" asp-for="@Model.Difficulty.Name">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
